:root {
    --color-white: #fff; 
    --color-lightGray: #cccccc;
    --color-lightCyan:  #f9fafa;
    --color-moderateCyan:  #4ba9c8;
    --color-softCyan: #86c5da;
    --color-darkSlateGray: #2f4f4f;
}

*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}
  
body {
    background-color: var(--color-moderateCyan);
    text-align: center;
    font-size: 0.6em;
}

wrapper {
    width: 400px;
    top: 50%;
    left: 50%;
    position:absolute;
    transform:translate(-50%, -50%);
}

blockquote {
    border-left: 10px solid var(--color-moderateCyan);
    margin: 30px 10px;
    padding: 10px 20px;
}

blockquote:before {
    color: var(--color-lightGray);
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.container {

    width: 100%;
    background-color:var(--color-lightCyan);
    padding: 40px 40px;
    box-shadow: 0 20px 65px var(--color-darkSlateGray);
    position: relative;
    border-radius: 5px;
    text-align: center;
}

.container:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 120%;
    background-color: var(--color-lightCyan);
    z-index: -1;
    top: -9%;
    left: 53%;
}

.container .button{
    width:max-content;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color:black;
}


#new-quote {
    padding: 15px 89px;
    margin-bottom: 25px;
    
}

#tweet-quote {

    margin: auto;
    padding: 13px 73px 13px;
}

.q-text {
    text-align: center;
    height: auto;
    clear: both;
    font-weight: 300;
    font-size: 2em;
}

.q-author {
    text-align: right;
    padding-top: 25px;
    height: auto;
    clear: both;
    font-size: 1.5em;
}

a:link, a:visited {
    text-decoration: none;
}
