:root {
    --colorbg: lightgreen;
    --colorh1: black
}
  
body {
    font-family: 'Livvic', sans-serif;
    background: var(--colorbg);
    color: var(--colorh1);
    text-align: center;
}
  
#quote-box {
    border-radius: 4px;
    position: relative;
    width: 385px;
    padding: 80px 50px;
    display: table;
    background-color: #fff;
}
      

  